<div class="container mt-5 my-form">
	<h2 class="mb-5 text-center text-black-50">Control Value Accessor</h2>
	<div [formGroup]='myForm'>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" formControlName='name'>
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" formControlName='email'>
		</div>
		<app-custom-control  formControlName='age'></app-custom-control>
		<button class="btn btn-outline-success" (click)="disableEmail()">{{buttonText}}</button>
	</div>
</div>

<div class="container mt-5 pl-5">
	<pre style="color: blue; font-size: 13px">{{myForm.value | json}}</pre>
</div>